@import "tailwindcss";

body{
    padding: 0;
    margin: 0;
}
.custom-modal .ant-modal-content {
            background-color: black !important;
            color: white;
        }
        .custom-modal .ant-modal-header {
            background-color: black !important;
            border-bottom: none;
        }
        .custom-modal .ant-modal-footer {
            display: none;
        }
